<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBd9QcV5Cg2qLI5kw_lJYBqNY0jpZry5tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>811220109761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ballastTest</string>
	<key>PROJECT_ID</key>
	<string>ballast-test</string>
	<key>STORAGE_BUCKET</key>
	<string>ballast-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811220109761:ios:c5eb9c5d3f5380e0fec740</string>
</dict>
</plist>